- name: Dynamic re-use of hello_world tasks
  include_tasks: hello_world.yaml
  tags: 
  - hello_world

- name: Dynamic re-use of facts tasks
  include_tasks: facts.yaml
  tags: 
  - facts_os
  - facts_cpu  
  - facts_memory

- name: Dynamic re-use of update tasks
  include_tasks: 
    file: update.yaml
    apply:
      tags: update   
  tags: 
  - update

- name: Dynamic re-use of test_speed_disk tasks
  include_tasks: 
    file: test_speed_disk.yaml
    apply:
      tags: test_speed_disk 
  tags: 
  - test_speed_disk  

- name: Dynamic re-use of test_speed_internet tasks
  include_tasks: 
    file: test_speed_internet.yaml
    apply:
      tags: test_speed_internet 
  tags: 
  - test_speed_internet  

- name: Dynamic re-use of test_speed_cpu tasks
  include_tasks: 
    file: test_speed_cpu.yaml
    apply:
      tags: test_speed_cpu 
  tags: 
  - test_speed_cpu   
